[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pytest = "*"
django-filter = "*"
Django = "*"
Markdown = "*"
bootstrap4 = "*"
mysqlclient = "*"
stripe = "*"
django-bootstrap4 = "*"
django-cors-headers = "*"
xmltodict = "*"
ddtrace = "*"
pylint-django = "*"
django-rest-passwordreset = "*"

[dev-packages]

[requires]
python_version = "3.9"
