{% extends "bread/basic_template.html" %}

{% load bootstrap4 %}
{% block content %}

{% if form.errors %}
<p>Your user name and password didn't match.  Please try again or <a href="{% url 'register' %}">register</a> if you are a new customer.</p> 
<p>For help with lost password, click <a href="{% url 'password_reset' %}">here.</a><p>
{% endif %}

<form method='post' action="{% url 'django.contrib.auth.views.login' %}", class='form input-lg'>
{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
  <button type='submit' class='btn btn-primary btn-lg'>GRAIN Please Login</button>
  <a class="btn btn-primary btn-lg" href="{% url 'register' %}">New Customer</a> 
{% endbuttons %}
<input type='hidden' name='next' value='products' />
</form>

{% endblock %}
