{% extends bread_template %}

{% block content %}
<div class="roller">
<h2>Our Story</h2>
<h3>When everyone swoons after taking a bite, you know you are on to something.  That's why I started Glorious Grain.</h3>
<h3>I love to feed people tasty food that makes them happy.  Everything is made by hand using the highest quality ingredients.</h3>
<h3>We're just starting out, and value your comments and suggestions.</h3>
</div>
<h2>Contact</h2>
<h4>Laura Hutner</h4>
<h4>Glorious Grain</h4>
<h4>306 Llanfair Road</h4>
<h4>Wynnewood, PA</h4>
<h4>19096</h4>
<h2><a class="btni btn-primary input-lg" href="mailto:laura@gloriousloaf.com?Subject=Bread" target="_top">Send Email</a></h2>
{% endblock %}

