{% extends bread_template %}
{% block content %}
{# Load the tag library #}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load staticfiles %}

<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<h3>{{message}}</h3>

  <form method="post" class="form input-lg" id="gif_entry">
    {% csrf_token %}
    <div class='form-group' style='position: relative; top: -40%'>
      <div class='input-group-date'>
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.user  %}
        {% bootstrap_field form.product  %}
        {% bootstrap_field form.number %}
        {% bootstrap_field form.delivery_date addon_after='<i class="fa fa-calendar" aria-hidden="true"></i>' %}
        {% bootstrap_field form.special_instructions %}
        {% bootstrap_field form.this_is_a_gift %}
        {% bootstrap_field form.recipient_name %}
        {% bootstrap_field form.recipient_address %}
        {% bootstrap_field form.recipient_city %}
        {% bootstrap_field form.recipient_state %}
        {% bootstrap_field form.recipient_message %}
      </div>
    </div>
    {% buttons %}
        <button type="submit" class="btn btn-primary btn-lg">
		<i class="fas fa-star"></i> Next
        </button>
    {% endbuttons %}
  </form>

<script>
  $(function () {
    var d = {{form.delivery_date.value|date:"Y-m-d"}};
    var date = new Date(d);

    //Add datetimepicker to delivery_date field
    $('#datetimepicker4').datetimepicker({
        useCurrent: false,
        format: 'YYYY-MM-DD',
        defaultDate: date,
        daysOfWeekDisabled: {{excluded}}
    });

 });
</script>
<script src="{% static 'scripts/giftFields.js' %}"></script>
{% endblock %}

