{% extends bread_template %}

{% block content %}
<div class="roller">
<h3>Baked to order by a real person</h3>
<h4>I love to feed people tasty food that makes them happy.  When you order a Glorious edible, I make it specifically for you, with all the beauty and soul as I can pack into it.  Everything is made by hand, to order.</h4>
<h3>From our oven straight to your door</h3>
<h4>Your bread reaches your door within hours of coming out of the oven. We're not just local -- we're down the street.</h4>
<h3>Trust is the first ingredient</h3>
<h4>There's nothing more personal than the food that you eat.  We respect that by using only the highest quality ingredients.</h4>
</div>
<h2>Contact</h2>
<h4>Laura Hutner</h4>
<h4>Glorious Grain</h4>
<h4>306 Llanfair Road</h4>
<h4>Wynnewood, PA</h4>
<h4>19096</h4>
<h2><a class="btni btn-primary input-lg" href="mailto:laura@gloriousloaf.com?Subject=Bread" target="_top">Send Email</a></h2>
{% endblock %}

