{% extends bread_template %}

{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker-standalone.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

<h3>{{message}}</h3>
<form method="post" class="form input-lg">
    {% csrf_token %}
    <div class='form-group' style='position: relative; top: -40%'>
      <div class='input-group-date'>
        {% bootstrap_form form %}
      </div>
    </div>
    {% buttons %}
        <button type="submit" class="btn btn-primary btn-lg">
		<i class="fas fa-star"></i> Next
        </button>
    {% endbuttons %}
</form>
<script>
  $(function () {
    $('#datepicker').datepicker({
        format: 'DD.MM.YYYY',
        defaultDate: '{{default_date}}',
        daysOfWeekHighlighted: [0,1,6]
    });
  });
</script>
{% endblock %}

