{% extends bread_template %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}

{% block content %}
<h3 class="title">All Orders:</h3>
<hr>
<h3 class="title">Combined Pending Orders</h3>
<br>

<div class="table-responsive">
  <table class='table'>
    <thead>
      <tr>
        <th class='orders shade'>Date</th>
        <th class='orders shade'>Count</th>
        <th class='orders shade'>Product</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders_date_product %}
        <tr>
	  <td class='date'>{{order.delivery_date}}</td>
          <td class='orders'>{{order.total}}</td>
          <td class='orders'>{{order.product__label}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col"></div>
    <div class="col-xs-8 col">
      <h3 class="title"><a class="btn btn-primary btn-block btn-lg text-center" href="{% url 'order_meister' %}">New Customer Order</a></h3>
    </div>
    <div class="col-xs-2 col"></div>
  </div>
</div>

<hr>

<h3 class="title">Detailed Pending Orders</h3>
<br>

<div class="table-responsive">
  <table class='table table-striped table-sm'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Order</th>
        <th>Special</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}
      <tr>
        <td><a href=account_detail/{{order.user.id}}>{{order.user.first_name}} {{order.user.last_name}}</a></td>
        <td>{{order.number}} {{order.product}}</td>
        {% if order.this_is_a_gift or order.special_instructions %}
          <td><button class='btn btn-primary btn-lg text-center' onclick='alert("Special instructions: {{order.special_instructions}}\nGift recipient: {{order.recipient_name}}\nGift message: {{order.recipient_message}}");'/> <i class="fas fa-star"></i></td>
        {% else %}
          <td></td>
        {% endif %}
        <td class='orders'>{{order.delivery_date}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<h3 class="title">Order History</h3>
<div class="table-responsive">
  <table class='table table-striped table-sm'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Order</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    {% for order in order_history %}
      <tr>
        <td>{{order.user.first_name}} {{order.user.last_name}}</td>
        <td>{{order.number}} {{order.product.label}}</td>
        <td>{{order.delivery_date}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<script src="{% static 'scripts/formatOrders.js' %}"></script>
{% endblock %}

