{% extends bread_template %}

{% load staticfiles %}


{% block content %}
  {% for category in categories %}
    <div class="card">
      <img src={% static category.picture %} class="card-img-top" alt={{category.label}}>
      <div class="card-body">
        <div class="card-title h2">{{ category.label }}</div>
        <p class="card-text font-italic">{{category.blurb}}</p>
        {% if category.category == "SUB" %}
	  {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'subscribe' %}">Subscribe</a>
	  {% else %}
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'login' %}">Subscribe</a>
	  {% endif %}
        {% else %}
	  {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'new_order' category=category.index_key %}">Order {{category.label}}</a>
	  {% else %}
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'login' %}">Order {{category.label}}</a>
	  {% endif %}
        {% endif %}
      </div>
    </div>
    <hr>
  {% endfor %}
{% endblock %}
