{% extends bread_template %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% load static %}
{% block content %}
<h3 class="title">{{message}}</h3>
<form method="post" class="form input-lg" id="gif_entry">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary btn-lg">
        Submit
        </button>
    {% endbuttons %}
</form>
<script src={% static "scripts/giftFields.js" %}></script>
{% endblock %}
