{% extends bread_template %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% block content %}
<h4>Customer order has been entered! Confirmation email or text message will be arriving shortly.</h4>
<h4>Press the Order button to add more bread.  You can review your account status with the Account button.</h4>
<a class="btn btn-primary btn-lg" href="{% url 'orders' %}"><i class="fas fa-plus-circle"></i>  Additional Orders/View Orders</a> 
{% endblock %}

